/* ========== pricing section ===========  */
.pricing-card {
  border: 1px solid gray;
  border-radius: 30px;
  padding:20px 40px;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.pricing-head {
  width: 100%;
  height: 100%;
  /* background-color: #ff5b12; */
  /* color: white; */
  text-align: center;
  padding: 15px 0px;
  border-radius: 0px 0px 30px 30px;
}
.pricing-head h {
  padding-bottom: 10px;
}
.price-amount {
  font-size: 20px;
  font-family: noto;
  font-weight: 600;
}
/* ======= hover effect ========= */
.pricing-card:hover {
  background-color: #ff5b12db;
  color: white;
}
.pricing-card:hover button {
  background-color: white;
  color: #250f6b;
  font-weight: 700;
}


.prigin-body {
  padding: 0px 10px;
  position: relative;

}
/* .overlay {
  width: 100%;
  height: 100%;
  background-color: #ff5b12;
  position: absolute;
  right: 0px;
  border-radius: 7px 7px 0px 0px;
  opacity: 0.3;
  transition: all 0.7s ease-in-out;
} */
.prigin-body ul {
  padding: 0px;
}
.prigin-body ul li {
  list-style-type: none;
  padding: 7px 0px;
}
.prigin-body ul li span {
  margin-right: 10px;
}
.line {
  height: 2px;
  background-color: gray;
}

/* ========= our card section ========= */
.our-card {
  position: relative;
}
.oure-card-circle {
  position: absolute;
  left: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  color:  #ff5b12;
  font-weight: 700;
  font-size: 18px;

}
.ourecard-card {
  max-width: 400px;
  height: 300px;
  margin: 0px auto;
  background-color: #3b0fcd;
  border-radius: 15px;
}